.idea
.gradle
local.properties
whatanime-android-github.iml
build
app/fabric.properties
app/src/main/java/com/takuya/whatanimu/core/network/WhatAnimeToken.java
captures/com.takuya.whatanimu_2017.11.19_12.18.li
